.cubes {
    .subhead {
        .section-header-subhead;
    }

    .new-cubes {
        overflow: hidden;

        fieldset {
            float: left;
            margin: 0 24px 24px 0;
        }

        .subhead.add {
            margin-bottom: 36px;
        }

        .required {
            .required-text;
            clear: left;
            display: block;
            margin-bottom: 12px;
        }
    }

    .existing-cubes {
        margin-top: 48px;

        div:first-of-type {
            .table-header;
        }

        .instructions {
            .text;
            color: @med-grey;
            margin-bottom: 24px;
        }
    }

    .cube {
        .row;
        .input;

        > span {
            width: 33.333%;
        }

        &:focus {
            .save, .cancel {
                visibility: visible;
            }
        }
    } 

    .save, .cancel {
        display: inline-block;
        visibility: hidden;
        cursor: pointer;
        padding: 0 4px;
        transition: opacity .25s ease;
        color: @primary;

        &:hover {
            opacity: .6;
        }
    }

    .cancel {
        color: @error;
    }

    .edit {
        color: @med-grey;
        font-size: 16px;
        display: inline;
        vertical-align: text-bottom;
    }
}