@import 'common/reset.less';
@import 'common/colors.less';
@import 'components/alert.less';
@import 'components/header.less';
@import 'components/cubes.less';

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
}

main {
    padding: 22px 0 0 36px;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
    opacity: 1;
    transition: opacity .25s ease;
    color: @primary;
}

a:hover, a:active {
    text-decoration: none;
    opacity: .6;
}

.section-header {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 30px;
    overflow: hidden;
    padding-top: 100px;
    color: @primary;
}

.hidden {
    display: none;
}